body {
  font-family: 'Roboto', sans-serif;
  background-color: #ededed; }

#header {
  height: 100%;
  height: 100vh;
  min-height: 300px;
  background-color: #1b1e25;
  background-image: url(../../img/svg/bg_animado.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #header .nome {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      #header .nome {
        float: left;
        width: 50%; } }
    @media (min-width: 992px) {
      #header .nome {
        margin-left: 25%; } }
    #header .nome__titulo {
      color: #fff;
      font-size: 5vw; }
      @media (max-width: 800px) {
        #header .nome__titulo {
          font-size: 40px; } }
      @media (min-width: 1400px) {
        #header .nome__titulo {
          font-size: 70px; } }
      #header .nome__titulo--light {
        font-weight: 300; }
    #header .nome__cargo {
      color: #fff;
      font-size: 4vw; }
      @media (max-width: 450px) {
        #header .nome__cargo {
          font-size: 18px; } }
      @media (min-width: 625px) {
        #header .nome__cargo {
          font-size: 25px; } }
      #header .nome__cargo--light {
        font-weight: 300; }
    #header .nome a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px 20px;
      margin-top: 20px;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
      #header .nome a:hover {
        background-color: #fff;
        color: #1b1e25; }

.navegacao {
  background-color: #1b1e25;
  border: none;
  margin-bottom: 0; }
  .navegacao .navbar-toggle {
    border: none; }
    .navegacao .navbar-toggle:hover, .navegacao .navbar-toggle:focus {
      background-color: transparent; }
    .navegacao .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navegacao .navbar-collapse {
    padding: 0 20px;
    border: none;
    margin-top: 10px; }
  .navegacao__lista {
    list-style: none;
    text-align: center;
    padding: 0; }
    .navegacao__lista li {
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      background-color: #fff;
      margin-bottom: 2px;
      border-radius: 5px;
      border: 1px solid #fff; }
      .navegacao__lista li:hover {
        background-color: #1b1e25; }
        .navegacao__lista li:hover .navegacao__lista__item {
          color: #fff; }
      .navegacao__lista li .navegacao__lista__item {
        color: #1b1e25;
        display: block;
        padding: 10px 30px;
        text-decoration: none;
        font-size: 1vw; }
        @media (max-width: 1500px) {
          .navegacao__lista li .navegacao__lista__item {
            font-size: 15px; } }
        @media (min-width: 2000px) {
          .navegacao__lista li .navegacao__lista__item {
            font-size: 20px; } }

@media (min-width: 768px) {
  .ativo {
    background-color: #1b1e25;
    -webkit-transform: scale(1.2, 1.1);
    -ms-transform: scale(1.2, 1.1);
    -o-transform: scale(1.2, 1.1);
    transform: scale(1.2, 1.1);
    color: #fff !important;
    border-radius: 5px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .navegacao {
    position: fixed;
    right: 0;
    top: 20vh;
    background-color: transparent;
    border: none; }
    .navegacao .navbar-collapse {
      padding-right: 0; }
    .navegacao__lista {
      list-style: none;
      text-align: center;
      padding: 0; }
      .navegacao__lista li {
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        background-color: #fff;
        margin-bottom: 2px;
        border-radius: 5px; }
        .navegacao__lista li:hover {
          background-color: #1b1e25; }
          .navegacao__lista li:hover .navegacao__lista__item {
            color: #fff; }
        .navegacao__lista li .navegacao__lista__item {
          color: #1b1e25;
          display: block;
          padding: 10px 30px;
          text-decoration: none;
          font-size: 14px;
          font-size: 1.4rem;
          border: 1px solid #fff; } }
