@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #555;
}
.container {
    margin: 0 auto;
    width: 940px;
}
ul {
    list-style: none;
}
#navegacao ul li{
    display: inline;
    margin-left: 10px;
}



