@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
* {
  box-sizing: content-box;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #555;
    margin: 0;
    background: #f8f5ec;
}
ul {
    list-style: none;
}
.box {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}
.nome {
    height: 200px;
    background: #2d2d2d;
    color: #e9e9e9;
    font-weight: 300;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-main {
    background: #222;
    width: 100%;

}
#navegacao ul li a {
    color: #ddd;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #e9e9e9;
}

#navegacao ul li a:hover {
    color: #000;
    background: #e9e9e9;
}
#navegacao ul li{
    margin-top: 20px;
    margin-bottom: 20px;

}
#navegacao ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.main {
  padding-left: 20px;
}
#conhecimentos a, #portifolio a {
  color: #000;
  text-decoration: none;
  box-shadow: inset 0 -2px #000;
}
#conhecimentos a:hover, #portifolio a:hover {
  box-shadow:inset 0 -18px #000;
  transition: box-shadow 0.3s ;
  color: #fff;
}
.contatos {
    background: #222;
    color: #fafafa;
    top: 0;
    height: 200px;
    box-shadow: inset 0 10px 10px -5px #0d1116;
    width: 100%;

}
footer {
    padding: 20px;
}
.contatos footer ul li a {
    color: #ddd;
    text-decoration: none;
}
.contatos footer ul li {
    margin: 10px;
}
