//COLOR
$dark: #1b1e25
$lg-grey: #f2f2f2
$lg-green: #2abbae

//FONT
$fonts: 'Roboto', sans-serif
$light: 300
$regular: 400
$bold: 700

//MEDIA
$screen-xs   : max-width 480px
$screen-sm   : max-width 768px
$screen-md   : max-width 992px
$screen-lg   : max-width 1200px
$screen-xlg  : max-width 1600px
$screen-xxlg : max-width 1900px
