body {
  background: url("../img/laptop-bg.jpg") no-repeat;
  background-position: center;
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
}

a {
  text-decoration:none;
  color: #000;
}

div.send-email{
  border: 2px solid black;
  width: 100px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
}
div.container{
  margin-top: 200px;
}
