#sobre
    margin-top: 20px
    margin-bottom: 20px
.foto
    background-image: url('../img/foto-leandro.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    display: block
    width: 200px
    height: 200px
    border-radius: 55%
    +make-md-column(2)
    margin: 0 auto
.sobre
    +make-md-column(9)
    +make-md-column-offset(1)
    a
        color: $dark
        border: 1px solid $dark
        border-radius: 5px
        margin-top: 20px
        padding: 10px
        display: inline-block
        vertical-align: baseline
        text-align: center
        text-decoration: none
        transition: all .2s
        &:hover
            background-color: $dark
            color: #fff
#habilidades
    background-color: $dark
    color: #fff
    .row
        text-align: center
        margin: 20px 0
        .habilidades
            +make-md-column(12)
            h3
                +responsive-font(5vw, 30px, 40px)
            &__dev
                +make-md-column(4)
                +make-xs-column(12)
            &__proj
                +make-md-column(4)
                +make-xs-column(12)
            &__pessoal
                +make-md-column(4)
                +make-xs-column(12)
            &__titulo
                margin: 25px 0
                border-bottom: 1px solid
                padding-bottom: 5px
            &__lista
                list-style: none
                padding: 0
                &__item
                    margin: 10px 0
#wakatime
    max-width: 500px
    margin: 0 auto
.portfolio
    +make-md-column(12)
    text-align: center
    border: 1px solid $dark
    border-radius: 20px
    margin: 20px 0
    &__lista
        list-style: none
        padding: 0
        &__item
            a
                color: $dark
            img
                width: 300px
            span
                display: block
                margin-top: -25px
#contato
    background-color: $dark
    color: #fff
    margin-top: 20px
.contato
    +make-md-column(12)
    display: flex
    flex-direction: column
    align-items: center
    margin: 20px auto
    &__titulo
        margin: 0
        &--light
            font-weight: 300
    &__lista
        padding: 0
        margin-top: 20px
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        &__item
            list-style: none
            margin: 20px 20px
            a
                color: #ffffff
                i
                    +responsive-font (5vw, 30px, 40px)
                    margin-right: 5px
                    
                
.rodape
    text-align: center
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    a
        margin-left: 5px
        color: $dark
        font-weight: 300
        text-decoration: none
        transition: all .2s
        &:hover
            background-color: $dark
            color: #fff
            padding: 0px 5px
